################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ISUF/v16
/.vs
/.vs - Copy
/ISUF.Base/bin
/ISUF.Base/obj
/ISUF.Storage/bin
/ISUF.Storage/obj
/ISUF.UI/bin
/ISUF.UI/obj
/ISUF.Win10/bin
/ISUF.Win10/obj
/ISUF.ItemStorage/bin
/ISUF.ItemStorage/obj
/ISUF.Security/bin
/ISUF.Security/obj
/ISUF.Interface/bin
/ISUF.Interface/obj
/ISUF.Tests/bin
/ISUF.Tests/obj
