################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ISUF/v16
/.vs
/ISUF.Base/obj
/ISUF.Storage/obj
/ISUF.Win10/obj
/ISUF.UI/obj
/ISUF.Base/obj/Debug
/ISUF.Storage/obj/Debug
/ISUF.Win10/obj/Debug
/ISUF.UI/obj/Debug
